:root {
  --primary-font-family: "Inter";
  --secondary-font-family: "Press Start 2P";
  --primary-font-regular: 410;
  --primary-font-bold: 715;
  --page-background: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-min-width: 375px;
  --container-max-width: 700px;
  --container-width: clamp(
    var(--container-min-width),
    100vw,
    var(--container-max-width)
  );
  --container-border: solid 2px black;
  --main-color: black;
  --secondary-color: white;
  --contour-color: black;
  --fill-color: black;
  --animation-fill-color: red;
}
